<div class="navbar-container">
  <div class="button-group">
    <div class="button-frame">
      <button class="nav-button" (click)="navigate('home')">Home</button>
    </div>
    <div class="button-frame">
      <button class="nav-button" (click)="navigate('settings')">Settings</button>
    </div>
    <div class="button-frame">
      <button class="nav-button" (click)="navigate('credit')">Credit</button>
    </div>
    <div class="button-frame">
      <button class="nav-button" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
