<div style="text-align: center; padding: 20px;">
    <div class="login-box">
      <h2 style="margin: 0; padding: 10px; background-color: white; color: black;">Connexion</h2>
      <div style="margin: 20px;">
        <p style="color: white; margin-bottom: 5px;">Login</p>
        <input type="text" style="width: 80%; padding: 10px;" />
      </div>
      <div style="margin: 20px;">
        <p style="color: white; margin-bottom: 5px;">MDP</p>
        <input type="password" style="width: 80%; padding: 10px;" />
      </div>
      <button class="nav-button" (click)="login()" style="background-color: blue; color: white;">Se connecter</button>
    </div>
  </div>
  